*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    height:100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    text-align: center;
    max-width: 900px;
    width: inherit;
}

.canvas-container{
    max-width: 900px;
    border: 2px solid black;
    border-radius: 5px;
}

.sidebar{
    width: fit-content;
    position: absolute;
    top:0;
    right: 0;
    padding: 2rem;
    border: 2px solid blue;
    border-radius: 5px;
    background-color: rgba(0, 0, 255, 0.253);
}
